.team__link-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--icon-color);
    outline: transparent;
    background-color: var(--icon-bg);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-icon {
    fill: currentColor;
}

.team__link-social:hover,
.team__link-social:focus {
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--main-light-color);
}

.footer__link-sn {
    color: var(--main-light-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--icon-bg);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}


.footer__link-sn:hover,
.footer__link-sn:focus {
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}